<footer>
  <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-child-width-1-3@l" uk-grid style="padding: 10px 0;">
    <div class="uk-text-center">
      <img src="../../../assets/img/icono/mi-logo.png" alt="Logo de la página" width="200px">
    </div>
    <div class="uk-text-center">
      <div class="uk-text-center second-column" style="height: 0;">
        &copy; All rights reserved.
      </div>
      <div class="uk-text-center dev-section" style="height: 0; margin-top: 40px; margin-bottom: 20px;">
        Developed by <span class="author">Cristian González</span>
      </div>
    </div>
    <div class="uk-text-center third-column">
      <h2 style="margin-top: 18px;">{{ "footer.social-networks" | translate }}</h2>
      <a href="https://www.facebook.com/ctresl.lab.7" target="_blank" class="uk-icon-button"
        uk-icon="facebook"></a>
      <a href="http://www.linkedin.com/in/ctresl-lab-6886941a5" target="_blank" class="uk-icon-button"
        uk-icon="twitter"></a>
      <a href="https://www.instagram.com/ctresllab/" target="_blank" class="uk-icon-button"
        uk-icon="instagram"></a>
      <a href="http://www.linkedin.com/in/ctresl-lab-6886941a5" target="_blank" class="uk-icon-button"
        uk-icon="linkedin"></a>
    </div>
  </div>
</footer>
