<footer>
  <div class="uk-child-width-1-1@xs uk-child-width-1-3@s uk-child-width-1-3@m" uk-grid style="padding: 10px 0;">
    <div class="uk-text-center">
      <img src="../../../assets/img/icono/logo-vertical.svg" alt="Logo de la página" width="70px">
    </div>
    <div class="uk-text-center">
      <div class="uk-text-center second-column" style="height: 0;">
        &copy; {{ year }}. All rights reserved.
      </div>
      <div class="uk-text-center dev-section" style="height: 0; margin-top: 40px; margin-bottom: 20px;">
        Developed by <span class="author shimmer">Cristian González</span>
      </div>
    </div>
    <div class="uk-text-center third-column">
      <h2 style="margin-top: 10px;">{{ "footer.social-networks" | translate }}</h2>
      <a href="https://www.facebook.com/cristian.gonzalezrossier" target="_blank" class="uk-icon-button"
        uk-icon="facebook"></a>
      <a href="https://twitter.com/Cristia12639370" target="_blank" class="uk-icon-button"
        uk-icon="twitter"></a>
      <a href="https://www.instagram.com/cristian.gonzalez.rossier/" target="_blank" class="uk-icon-button" uk-icon="instagram"></a>
      <a href="https://www.linkedin.com/in/cristian-gonz%C3%A1lez-rossier-8847b01a7/" target="_blank"
        class="uk-icon-button" uk-icon="linkedin"></a>
    </div>
  </div>
</footer>
