<div id="myNavbar" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">

  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-right">

      <ul class="uk-navbar-nav">
        <li><a href="#about" uk-scroll="duration: 500">Acerca de mí</a></li>
        <li><a href="#">Habilidades</a></li>
        <li><a href="#">Portafolio</a></li>
        <li><a href="#">Experiencia</a></li>
        <li><a href="#">Contácto</a></li>
      </ul>

    </div>
  </nav>

</div>







<button id="reveal-button" class="uk-button uk-button-default uk-margin-small-right" type="button"
  uk-toggle="target: #offcanvas-reveal">
  <span uk-icon="menu" style="transform: scale(10);"></span>
</button>


<div id="offcanvas-reveal" uk-offcanvas="mode: reveal; overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <h3>Title</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>

  </div>
</div>

<div class="img-bg">
  <div class="image">
    <img class="img-bridge" src="../../../assets/img/header/bridge-min.jpg" alt="Puente">
  </div>

  <a href="#about" uk-scroll="duration: 300"><img class="img-profile spin circle"
      src="../../../assets/img/header/profile-min.jpg" alt=""></a>
  <h1>Cristian González</h1>
  <p class="subtitle">Desarrolador Web FullStack, Desarrolador Aplicaciones Móviles</p>

  <p class="buttons" uk-margin>
    <button class="uk-button uk-button-default">Contáctame</button>
    <button class="uk-button uk-button-secondary">Descargar CV</button>
  </p>

  <div class="redes-sociales">
    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
    <a href="" class="uk-icon-button" uk-icon="google-plus"></a>
  </div>
</div>


<div class="img-wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
    style="height: 100%; width: 100%;">
    <path d="M-9.31,81.41 C149.99,150.00 433.13,177.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
      style="stroke: none; fill: #fff;"></path>
  </svg></div>
