  <div class="uk-child-width-1-1@s uk-child-width-1-2@m uk-margin" uk-grid>
    <div id="experience" class="uk-padding-large" style="padding-top: 10px; padding-bottom: 0px;" uk-scrollspy="cls:slide-in-blurred-left;">
      <h2 class="uk-text-center">{{ "experience.title.first" | translate }}</h2>
      <ul class="timeline">
        <li>
          <div class="time_period">
            <p>2020 - {{ "experience.ul.actually" | translate }}</p>
          </div>
          <div class="timeline_title">
            <h4>{{ "experience.ul.first.li1.title" | translate }}</h4>
          </div>
          <div class="about_time_period">
            <p>{{ "experience.ul.first.li1.text" | translate }}</p>
          </div>
        </li>
        <li>
          <div class="time_period">
            <p>2019</p>
          </div>
          <div class="timeline_title">
            <h4>{{ "experience.ul.first.li2.title" | translate }}</h4>
          </div>
          <div class="about_time_period">
            <p>{{ "experience.ul.first.li2.text" | translate }}</p>
          </div>
        </li>
        <li>
          <div class="time_period">
            <p>2018 - 2019</p>
          </div>
          <div class="timeline_title">
            <h4>{{ "experience.ul.first.li3.title" | translate }}</h4>
          </div>
          <div class="about_time_period">
            <p>{{ "experience.ul.first.li3.text" | translate }}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="uk-padding-large" style="padding-top: 10px; padding-bottom: 0px;" uk-scrollspy="cls:slide-in-blurred-right;">
      <h2 class="uk-text-center">{{ "experience.title.second" | translate }}</h2>
      <ul class="timeline">
        <li>
          <div class="time_period">
            <p>2018 - {{ "experience.ul.actually" | translate }}</p>
          </div>
          <div class="timeline_title">
            <h4>UNIVERSIDAD CENTRAL DE CHILE</h4>
            <p>Santiago Centro, Chile</p>
          </div>
          <div class="about_time_period">
            <p>{{ "experience.ul.second.li1.text" | translate }}</p>
          </div>
        </li>
        <li>
          <div class="time_period">
            <p>2004 - 2016</p>
          </div>
          <div class="timeline_title">
            <h4>LICEO SALESIANO MANUEL ARRIARAN BARROS</h4>
            <p>La Cisterna, Chile</p>
          </div>
          <div class="about_time_period">
            <p>{{ "experience.ul.second.li2.text" | translate }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
