.habilidades-bg {
  width: 100%;
  text-align: center;
}

i.green,
p.green {
  color: #37FC27;
}

i.yellow,
p.yellow {
  color: #FCD927;
}

i.red,
p.red {
  color: #FC3727;
}

p.green,
p.yellow,
p.red {
  cursor: pointer;
}

p.green {
  margin-right: -40vw;
}

p.red {
  margin-left: -40vw;
}

td {
  padding: 5px 0;
}
