<div class="habilidades-bg">
  <h2>Habilidades Profesionales <i class="far fa-check-circle" style="color: black;"></i></h2>
  <div id="about" class="bg-info uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid
    uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card-body; repeat: true">
    <div>
      <div class="uk-card-body" uk-scrollspy-class="uk-animation-slide-top">

        <table class="uk-table uk-table-striped">
          <thead>
            <tr>
              <th class="uk-text-center">Desarrollo Web</th>
              <th class="uk-text-center">Lenguajes de Programación</th>
              <th class="uk-text-center">Frameworks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>HTML5 <i class="green far fa-check-circle"></i></td>
              <td>Table Data <i class="yellow far fa-check-circle"></i></td>
              <td>Table Data <i class="red far fa-check-circle"></i></td>
            </tr>
            <tr>
              <td>CSS3 <i class="green far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
            <tr>
              <td>JavaScript <i class="green far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
            <tr>
              <td>TypeScript <i class="green far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
            <tr>
              <td>SASS <i class="yellow far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
            <tr>
              <td>SCSS <i class="green far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
            <tr>
              <td>LESS <i class="red far fa-check-circle"></i></td>
              <td>Table Data</td>
              <td>Table Data</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="uk-grid-collapse uk-child-width-1-3@s" uk-grid>
      <div>
        <p class="green"><i class="green far fa-check-circle"></i> Nivel Experto</p>
      </div>
      <div>
        <p class="yellow"><i class="yellow far fa-check-circle"></i> Nivel Medio</p>
      </div>
      <div>
        <p class="red"><i class="red far fa-check-circle"></i> Nivel Básico</p>
      </div>
    </div>

  </div>
