<div id="skills" class="habilidades-bg">
  <h2>{{ "skills.title" | translate}}</h2>
  <div id="about" class="bg-info uk-card uk-card-default uk-grid-collapse uk-child-width-1-1@s uk-margin" uk-grid
    uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card-body; repeat: true">
    <div>
      <div class="uk-card-body for-desktop" uk-scrollspy-class="uk-animation-slide-top">

        <table class="uk-table uk-table-striped"
          uk-scrollspy="cls: uk-animation-slide-bottom; target: .myRows; repeat: true">
          <thead>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-top-medium">
              <th class="uk-text-center">{{ "skills.titles.first-th" | translate}}</th>
              <th class="uk-text-center">{{ "skills.titles.second-th" | translate}}</th>
              <th class="uk-text-center">{{ "skills.titles.third-th" | translate}}</th>
              <th class="uk-text-center">{{ "skills.titles.fourth-th" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/HTML5">HTML5</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
              <td><a href="https://es.wikipedia.org/wiki/Python">Python</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Angular_(framework)">Angular</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Node.js">NodeJS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">CSS3</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/JavaScript">JavaScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/React">ReactJS</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
              <td><a href="https://loopback.io/">LoopBack</a>&nbsp;<i class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/JavaScript">JavaScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)">Java</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Bootstrap_(framework)">Bootstrap</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://nestjs.com/">NestJS</a>&nbsp;<i class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/TypeScript">TypeScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Dart">Dart</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
              <td><a href="https://en.wikipedia.org/wiki/Vue.js">VueJS</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/MongoDB">MongoDB</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Sass">SASS/SCSS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Go_(lenguaje_de_programaci%C3%B3n)">Go</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://bulma.io/">Bulma</a>&nbsp;<i class="yellow far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/MySQL">MySQL</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/LESS_(lenguaje_de_hojas_de_estilo)">LESS</a>&nbsp;<i
                  class="red far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/TypeScript">TypeScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://getuikit.com/">UIkit</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
              <td><a href="https://es.wikipedia.org/wiki/Firebase">Cloud Firestore</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Node.js">NodeJS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/C_(lenguaje_de_programaci%C3%B3n)">C</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Material_Design">Material Design</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td><a href="https://en.wikipedia.org/wiki/Express.js">Express.js</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Firebase">Firebase</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/Kotlin_(lenguaje_de_programaci%C3%B3n)">Kotlin</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td><a href="https://en.wikipedia.org/wiki/Ionic_(mobile_app_framework)">Ionic</a>&nbsp;<i
                  class="green far fa-check-circle"></i>
              </td>
              <td><a href="https://www.django-rest-framework.org/">Django Rest</a>&nbsp;<i
                  class="red far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Posicionamiento_en_buscadores">SEO</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
              <td><a href="https://es.wikipedia.org/wiki/PHP">PHP</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
              <td><a href="https://es.wikipedia.org/wiki/NativeScript">NativeScript</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td></td>
              <td></td>
              <td><a href="https://es.wikipedia.org/wiki/Flutter_(software)">Flutter</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
              <td></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td></td>
              <td></td>
              <td><a href="https://mdbootstrap.com/">MDBootstrap</a>&nbsp;<i class="green far fa-check-circle"></i></td>
              <td></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td></td>
              <td></td>
              <td><a href="https://es.wikipedia.org/wiki/Django_(framework)">Django</a>&nbsp;<i
                  class="red far fa-check-circle"></i>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="uk-card-body for-mobile" uk-scrollspy-class="uk-animation-slide-top">

        <table class="uk-table uk-table-striped"
          uk-scrollspy="cls: uk-animation-slide-bottom; target: .myRows; repeat: true">
          <thead>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-top-medium">
              <th class="uk-text-center">{{ "skills.titles.first-th" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/HTML5">HTML5</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada">CSS3</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/JavaScript">JavaScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/TypeScript">TypeScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Sass">SASS/SCSS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/LESS_(lenguaje_de_hojas_de_estilo)">LESS</a>&nbsp;<i
                  class="red far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Node.js">NodeJS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Firebase">Firebase</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Posicionamiento_en_buscadores">SEO</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
          </tbody>
        </table>

        <table class="uk-table uk-table-striped"
          uk-scrollspy="cls: uk-animation-slide-bottom; target: .myRows; repeat: true">
          <thead>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-top-medium">
              <th class="uk-text-center">{{ "skills.titles.second-th" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Python">Python</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/JavaScript">JavaScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Java_(lenguaje_de_programaci%C3%B3n)">Java</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Dart">Dart</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Go_(lenguaje_de_programaci%C3%B3n)">Go</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/TypeScript">TypeScript</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/C_(lenguaje_de_programaci%C3%B3n)">C</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Kotlin_(lenguaje_de_programaci%C3%B3n)">Kotlin</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/PHP">PHP</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="uk-table uk-table-striped"
          uk-scrollspy="cls: uk-animation-slide-bottom; target: .myRows; repeat: true">
          <thead>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-top-medium">
              <th class="uk-text-center">{{ "skills.titles.third-th" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Angular_(framework)">Angular</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/React">ReactJS</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Bootstrap_(framework)">Bootstrap</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://en.wikipedia.org/wiki/Vue.js">VueJS</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://bulma.io/">Bulma</a>&nbsp;<i class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://getuikit.com/">UIkit</a>&nbsp;<i class="green far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://en.wikipedia.org/wiki/Ionic_(mobile_app_framework)">Ionic</a>&nbsp;<i
                  class="green far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/NativeScript">NativeScript</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Flutter_(software)">Flutter</a>&nbsp;<i
                  class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://mdbootstrap.com/">MDBootstrap</a>&nbsp;<i class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Django_(framework)">Django</a>&nbsp;<i
                  class="red far fa-check-circle"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="uk-table uk-table-striped"
          uk-scrollspy="cls: uk-animation-slide-bottom; target: .myRows; repeat: true">
          <thead>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-top-medium">
              <th class="uk-text-center">{{ "skills.titles.fourth-th" | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Node.js">NodeJS</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://loopback.io/">LoopBack</a>&nbsp;<i class="yellow far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://nestjs.com/">NestJS</a>&nbsp;<i class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/MongoDB">MongoDB</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/MySQL">MySQL</a>&nbsp;<i class="red far fa-check-circle"></i>
              </td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://es.wikipedia.org/wiki/Firebase">Cloud Firestore</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://en.wikipedia.org/wiki/Express.js">Express.js</a>&nbsp;<i
                  class="green far fa-check-circle"></i></td>
            </tr>
            <tr class="myRows" uk-scrollspy-class="uk-animation-slide-left">
              <td><a href="https://www.django-rest-framework.org/">Django Rest</a>&nbsp;<i
                  class="red far fa-check-circle"></i></td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div id="niveles" class="uk-grid-collapse uk-child-width-1-3@s" uk-grid
      uk-scrollspy="cls: uk-animation-slide-bottom; target: .sub-niveles; repeat: true" attr.uk-tooltip="{{ 'skills.levels.tooltip' | translate }}">
      <div class="sub-niveles" uk-scrollspy-class="uk-animation-scale-up">
        <p class="green"><i class="green far fa-check-circle"></i> {{ "skills.levels.first-level" | translate }}</p>
      </div>
      <div class="sub-niveles" uk-scrollspy-class="uk-animation-scale-up">
        <p class="yellow"><i class="yellow far fa-check-circle"></i> {{ "skills.levels.second-level" | translate }}</p>
      </div>
      <div class="sub-niveles" uk-scrollspy-class="uk-animation-scale-up">
        <p class="red"><i class="red far fa-check-circle"></i> {{ "skills.levels.third-level" | translate }}</p>
      </div>
    </div>
  </div>
